<a href="https://colab.research.google.com/github/avignal1/Project2/blob/main/ScalerComparisonCleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [169]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import QuantileTransformer
import matplotlib.pyplot as plt

In [170]:
# Load the data into a DataFrame
file_path = Path("data.csv")
data = pd.read_csv(file_path)
data.head()

   valence  year  acousticness  ... release_date  speechiness    tempo
0   0.0594  1921         0.982  ...         1921       0.0366   80.954
1   0.9630  1921         0.732  ...         1921       0.4150   60.936
2   0.0394  1921         0.961  ...         1921       0.0339  110.339
3   0.1650  1921         0.967  ...         1921       0.0354  100.109
4   0.2530  1921         0.957  ...         1921       0.0380  101.665

[5 rows x 19 columns]

In [171]:
year_limit=1960
data_1960_df = data[data['year']>year_limit]
data_1960_df.describe()

             valence           year  ...    speechiness          tempo
count  118900.000000  118900.000000  ...  118900.000000  118900.000000
mean        0.538535    1990.490320  ...       0.075705     119.842238
std         0.260172      17.291647  ...       0.090851      30.023464
min         0.000000    1961.000000  ...       0.000000       0.000000
25%         0.331000    1976.000000  ...       0.033500      96.555000
50%         0.546000    1990.000000  ...       0.043100     117.855500
75%         0.756000    2005.000000  ...       0.070600     138.513250
max         1.000000    2020.000000  ...       0.964000     243.507000

[8 rows x 15 columns]

In [172]:
data_1960_df.columns

Index(['valence', 'year', 'acousticness', 'artists', 'danceability',
       'duration_ms', 'energy', 'explicit', 'id', 'instrumentalness', 'key',
       'liveness', 'loudness', 'mode', 'name', 'popularity', 'release_date',
       'speechiness', 'tempo'],
      dtype='object')

In [173]:
cleanData = data_1960_df[['valence', 'year', 'acousticness', 'danceability',
       'duration_ms', 'energy', 'explicit', 'instrumentalness', 'key',
       'liveness', 'loudness', 'mode', 
       'speechiness', 'tempo', 'popularity']]

In [174]:
cleanData.describe()

             valence           year  ...          tempo     popularity
count  118900.000000  118900.000000  ...  118900.000000  118900.000000
mean        0.538535    1990.490320  ...     119.842238      42.517502
std         0.260172      17.291647  ...      30.023464      15.320393
min         0.000000    1961.000000  ...       0.000000       0.000000
25%         0.331000    1976.000000  ...      96.555000      31.000000
50%         0.546000    1990.000000  ...     117.855500      42.000000
75%         0.756000    2005.000000  ...     138.513250      53.000000
max         1.000000    2020.000000  ...     243.507000     100.000000

[8 rows x 15 columns]

In [175]:
cleanData.head()

      valence  year  acousticness  ...  speechiness    tempo  popularity
7806    0.343  1961         0.941  ...       0.0275  100.307          78
7807    0.598  1961         0.451  ...       0.1250   79.987          63
7808    0.356  1961         0.931  ...       0.0366  107.765          66
7809    0.967  1961         0.729  ...       0.0312  121.505          67
7810    0.800  1961         0.768  ...       0.2460  116.187          63

[5 rows x 15 columns]

In [176]:
cleanData.tail()

        valence  year  acousticness  ...  speechiness    tempo  popularity
170648    0.608  2020       0.08460  ...       0.0881  105.029          72
170649    0.734  2020       0.20600  ...       0.0605  137.936          68
170650    0.637  2020       0.10100  ...       0.0809   91.688          76
170651    0.195  2020       0.00998  ...       0.3080   75.055          70
170652    0.642  2020       0.13200  ...       0.1080   94.991          74

[5 rows x 15 columns]

In [177]:
X = cleanData.iloc[:, 0:14].values
y = cleanData.iloc[:, 14].values

In [178]:
X[[0]]

array([[ 3.43000e-01,  1.96100e+03,  9.41000e-01,  3.96000e-01,
         1.82360e+05,  2.93000e-01,  0.00000e+00,  1.96000e-04,
         2.00000e+00,  1.05000e-01, -1.40620e+01,  1.00000e+00,
         2.75000e-02,  1.00307e+02]])

In [179]:
y[0]

78

In [180]:
scaler = RobustScaler().fit(X)
X1 = scaler.transform(X)

In [181]:
scaler = StandardScaler().fit(X)
X2 = scaler.transform(X)

In [182]:
scaler = MinMaxScaler().fit(X)
X3 = scaler.transform(X)

In [183]:
scaler = QuantileTransformer().fit(X)
X4 = scaler.transform(X)

In [184]:
#RobustScaler
nn_1 = Sequential()

# Hidden layer
nn_1.add(Dense(units=64, input_dim=14, activation="relu"))

# Second hidden layer
nn_1.add(Dense(units=32, activation="relu"))

# third hidden layer
nn_1.add(Dense(units=16, activation="relu"))

# fouth hidden layer
nn_1.add(Dense(units=8, activation="relu"))

# Output layer
nn_1.add(Dense(units=1, activation="linear"))

In [185]:
#StandardScaler
nn_2 = Sequential()

# Hidden layer
nn_2.add(Dense(units=64, input_dim=14, activation="relu"))

# Second hidden layer
nn_2.add(Dense(units=32, activation="relu"))

# third hidden layer
nn_2.add(Dense(units=16, activation="relu"))

# fouth hidden layer
nn_2.add(Dense(units=8, activation="relu"))

# Output layer
nn_2.add(Dense(units=1, activation="linear"))

In [186]:
#MinMaxScaler
nn_3 = Sequential()

# Hidden layer
nn_3.add(Dense(units=64, input_dim=14, activation="relu"))

# Second hidden layer
nn_3.add(Dense(units=32, activation="relu"))

# third hidden layer
nn_3.add(Dense(units=16, activation="relu"))

# fouth hidden layer
nn_3.add(Dense(units=8, activation="relu"))

# Output layer
nn_3.add(Dense(units=1, activation="linear"))

In [187]:
#QuantileTransformer
nn_4 = Sequential()

# Hidden layer
nn_4.add(Dense(units=64, input_dim=14, activation="relu"))

# Second hidden layer
nn_4.add(Dense(units=32, activation="relu"))

# third hidden layer
nn_4.add(Dense(units=16, activation="relu"))

# fouth hidden layer
nn_4.add(Dense(units=8, activation="relu"))

# Output layer
nn_4.add(Dense(units=1, activation="linear"))

In [188]:
# Compile the model 1 using RobustScaler
nn_1.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [189]:
# Compile the model 2 using StandardScaler
nn_2.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [190]:
# Compile the model 3 using MinMaxScaler
nn_3.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [191]:
# Compile the model 4 using QuantileTransformer
nn_4.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [192]:
# Fit the model 1 using RobustScaler
model_1 = nn_1.fit(X1, y, validation_split=0.3, epochs=10)

Epoch 1/10
2601/2601 [==============================] - 5s 2ms/step - loss: 425.5073 - mse: 425.5073 - val_loss: 156.9906 - val_mse: 156.9906
Epoch 2/10
2601/2601 [==============================] - 4s 2ms/step - loss: 115.2746 - mse: 115.2746 - val_loss: 199.0086 - val_mse: 199.0086
Epoch 3/10
2601/2601 [==============================] - 4s 2ms/step - loss: 110.8222 - mse: 110.8222 - val_loss: 174.5690 - val_mse: 174.5690
Epoch 4/10
2601/2601 [==============================] - 4s 2ms/step - loss: 111.4201 - mse: 111.4201 - val_loss: 194.5954 - val_mse: 194.5954
Epoch 5/10
2601/2601 [==============================] - 4s 2ms/step - loss: 110.0585 - mse: 110.0585 - val_loss: 189.4042 - val_mse: 189.4042
Epoch 6/10
2601/2601 [==============================] - 4s 2ms/step - loss: 111.6749 - mse: 111.6749 - val_loss: 212.3137 - val_mse: 212.3137
Epoch 7/10
2601/2601 [==============================] - 4s 2ms/step - loss: 109.6318 - mse: 109.6318 - val_loss: 177.8336 - val_mse: 177.8336
Epoch 8/10
2601/2601 [==============================] - 4s 2ms/step - loss: 109.9053 - mse: 109.9053 - val_loss: 180.5564 - val_mse: 180.5564
Epoch 9/10
2601/2601 [==============================] - 4s 2ms/step - loss: 107.7366 - mse: 107.7366 - val_loss: 179.6441 - val_mse: 179.6441
Epoch 10/10
2601/2601 [==============================] - 4s 2ms/step - loss: 107.8499 - mse: 107.8499 - val_loss: 199.8752 - val_mse: 199.8752

In [193]:
# Fit the model 2 using StandardScaler
model_2 = nn_2.fit(X2, y, validation_split=0.3, epochs=10)

Epoch 1/10
2601/2601 [==============================] - 5s 2ms/step - loss: 398.2698 - mse: 398.2698 - val_loss: 167.2107 - val_mse: 167.2107
Epoch 2/10
2601/2601 [==============================] - 4s 2ms/step - loss: 112.9416 - mse: 112.9416 - val_loss: 196.7641 - val_mse: 196.7641
Epoch 3/10
2601/2601 [==============================] - 4s 2ms/step - loss: 113.5136 - mse: 113.5136 - val_loss: 204.4968 - val_mse: 204.4968
Epoch 4/10
2601/2601 [==============================] - 5s 2ms/step - loss: 109.0914 - mse: 109.0914 - val_loss: 155.9955 - val_mse: 155.9955
Epoch 5/10
2601/2601 [==============================] - 4s 2ms/step - loss: 108.8623 - mse: 108.8623 - val_loss: 175.9642 - val_mse: 175.9642
Epoch 6/10
2601/2601 [==============================] - 4s 2ms/step - loss: 109.5902 - mse: 109.5902 - val_loss: 167.5537 - val_mse: 167.5537
Epoch 7/10
2601/2601 [==============================] - 4s 2ms/step - loss: 106.9502 - mse: 106.9502 - val_loss: 180.8593 - val_mse: 180.8593
Epoch 8/10
2601/2601 [==============================] - 4s 2ms/step - loss: 108.5117 - mse: 108.5117 - val_loss: 197.7264 - val_mse: 197.7264
Epoch 9/10
2601/2601 [==============================] - 4s 2ms/step - loss: 106.8115 - mse: 106.8115 - val_loss: 180.1936 - val_mse: 180.1936
Epoch 10/10
2601/2601 [==============================] - 4s 2ms/step - loss: 105.4057 - mse: 105.4057 - val_loss: 162.7993 - val_mse: 162.7993

In [194]:
# Fit the model 3 using MinMaxScaler
model_3 = nn_3.fit(X3, y, validation_split=0.3, epochs=10)

Epoch 1/10
2601/2601 [==============================] - 5s 2ms/step - loss: 407.5864 - mse: 407.5864 - val_loss: 215.0418 - val_mse: 215.0418
Epoch 2/10
2601/2601 [==============================] - 4s 2ms/step - loss: 114.1301 - mse: 114.1301 - val_loss: 153.0482 - val_mse: 153.0482
Epoch 3/10
2601/2601 [==============================] - 4s 2ms/step - loss: 113.1900 - mse: 113.1900 - val_loss: 183.2457 - val_mse: 183.2457
Epoch 4/10
2601/2601 [==============================] - 4s 2ms/step - loss: 112.1803 - mse: 112.1803 - val_loss: 201.9800 - val_mse: 201.9800
Epoch 5/10
2601/2601 [==============================] - 4s 2ms/step - loss: 113.6906 - mse: 113.6906 - val_loss: 166.8571 - val_mse: 166.8571
Epoch 6/10
2601/2601 [==============================] - 4s 2ms/step - loss: 110.7873 - mse: 110.7873 - val_loss: 217.7014 - val_mse: 217.7014
Epoch 7/10
2601/2601 [==============================] - 4s 2ms/step - loss: 112.9969 - mse: 112.9969 - val_loss: 202.6102 - val_mse: 202.6102
Epoch 8/10
2601/2601 [==============================] - 4s 2ms/step - loss: 110.4722 - mse: 110.4722 - val_loss: 156.9621 - val_mse: 156.9621
Epoch 9/10
2601/2601 [==============================] - 4s 2ms/step - loss: 110.7560 - mse: 110.7560 - val_loss: 249.9302 - val_mse: 249.9302
Epoch 10/10
2601/2601 [==============================] - 5s 2ms/step - loss: 109.6407 - mse: 109.6407 - val_loss: 186.5916 - val_mse: 186.5916

In [195]:
# Fit the model 1 using QuantileTransformer
model_4 = nn_4.fit(X4, y, validation_split=0.3, epochs=10)

Epoch 1/10
2601/2601 [==============================] - 4s 2ms/step - loss: 111.8254 - mse: 111.8254 - val_loss: 196.3264 - val_mse: 196.3264
Epoch 2/10
2601/2601 [==============================] - 4s 2ms/step - loss: 109.3548 - mse: 109.3548 - val_loss: 192.3590 - val_mse: 192.3590
Epoch 3/10
2601/2601 [==============================] - 4s 2ms/step - loss: 108.0860 - mse: 108.0860 - val_loss: 174.6113 - val_mse: 174.6113
Epoch 4/10
2601/2601 [==============================] - 4s 2ms/step - loss: 107.1070 - mse: 107.1070 - val_loss: 210.2374 - val_mse: 210.2374
Epoch 5/10
2601/2601 [==============================] - 4s 2ms/step - loss: 106.3872 - mse: 106.3872 - val_loss: 183.6917 - val_mse: 183.6917
Epoch 6/10
2601/2601 [==============================] - 4s 2ms/step - loss: 105.7543 - mse: 105.7543 - val_loss: 175.2399 - val_mse: 175.2399
Epoch 7/10
2601/2601 [==============================] - 5s 2ms/step - loss: 105.4059 - mse: 105.4059 - val_loss: 162.3500 - val_mse: 162.3500
Epoch 8/10
2601/2601 [==============================] - 5s 2ms/step - loss: 104.9851 - mse: 104.9851 - val_loss: 212.6163 - val_mse: 212.6163
Epoch 9/10
2601/2601 [==============================] - 4s 2ms/step - loss: 104.7179 - mse: 104.7179 - val_loss: 138.4396 - val_mse: 138.4396
Epoch 10/10
2601/2601 [==============================] - 4s 2ms/step - loss: 104.6324 - mse: 104.6324 - val_loss: 188.4882 - val_mse: 188.4882

In [196]:
Y1 = nn_1.predict(X1)
Y2 = nn_2.predict(X2)
Y3 = nn_3.predict(X3)
Y4 = nn_4.predict(X4)

In [197]:
from sklearn.metrics import accuracy_score

Y1 = Y1.astype(int)
Y2 = Y2.astype(int)
Y3 = Y3.astype(int)
Y4 = Y4.astype(int)

In [198]:
acc_score_1 = accuracy_score(y, Y1)
acc_score_2 = accuracy_score(y, Y2)
acc_score_3 = accuracy_score(y, Y3)
acc_score_4 = accuracy_score(y, Y4)

In [199]:
print(f"The accuracy score using RobustScaler is {acc_score_1}")
print(f"The accuracy score using StandardScaler is {acc_score_2}")
print(f"The accuracy score using MinMaxScaler is {acc_score_3}")
print(f"The accuracy score using QuantileTransformer is {acc_score_4}")

The accuracy score using RobustScaler is 0.014844407064760303
The accuracy score using StandardScaler is 0.03509671993271657
The accuracy score using MinMaxScaler is 0.034373423044575274
The accuracy score using QuantileTransformer is 0.005517241379310344